__pycache__/
build
dependencies/
physicsEngine/irrlicht-1.8.3
physicsEngine/chrono
deepLearning/cuda
deepLearning/tensorflow
cmake-build-debug*
cmake-build-release*
cmake-build-default
/.cproject
/.project
.idea
.settings
*.log
*~
*.orig
*.svg
*.eps
data/initialStates_darpa/

*.png
